.fiveDay {
    background: #007BFF;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 150px;
}

.spacedDivs {
    margin-bottom: 5px;
    padding-left: 20px;
}

.grayBgd {
    background: #DCE0E4;
}

.padded {
    padding: 20px;
}

.margin-top {
    margin-top: 10px;
}